body {
	margin: 0;
	font-family: NanumBarunGothic, sans-serif;
	line-height: 1.8;
	width: 100%;
	height: 100%;
}

div {
	box-sizing: border-box;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.green {
	color: green;
}

.pink {
	color: #FF007F;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.big {
	font-size: 30pt;
}

em {
	font-style: normal;
	color: #FF007F;
	font-size: 16pt;
}

#loading {
	font-family: sans-serif;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -512px;
	margin-left: -512px;
	width: 1024px;
	height: 1024px;
	text-align: center;
	line-height: 1024px;
	font-size: 50pt;
	background-color: white;
}

#body {
	width: 100%;
	height: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	background: #BDFF12;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: #BDFF12;
}

#slide {
	position: relative;
	width: 1024px;
	height: 100%;
	margin: auto;
	padding: 20px 20px 80px 20px;
}

.small-text {
	font-size: 14pt;
}

.large-text {
	font-size: 24pt;
}

#slide input {
	border: none;
	border-bottom: 1px solid black;
	height: 28px;
	font-size: 16pt;
	text-align: center;
}

.form input[type="radio"] {
	position: relative;
	top: 5px;
}

.poll input[type="radio"] {
	position: relative;
	top: -5px;
}

#nav {
	position: fixed;
	width: 1024px;
	left: 50%;
	margin-left: -512px;
	bottom: 40px;
	height: 70px;
}

#nav button.prev {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 10px;
	bottom: 10px;
}

#nav button.next {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 10px;
	bottom: 10px;
}

.poll table {
	font-size: 12pt;
	text-align: center;
	line-height: 1.2;
	border-collapse: collapse;
}

.poll table tr {
	height: 60px;
}

.poll table th {
	font-size: 8pt;
}

.poll table td {
	font-size: 16pt;
}

.round-box {
	font-size: 14pt;
	border: 1px solid #666;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}

.study table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.study table.cover th {
	width: 25%;
	height: 100px;
	font-size: 32pt;
}

.study table.cover td {
	width: 25%;
	height: 100px;
	background-color: #fdd;
	border: 1px solid #666;
}

.study table.header th {
	width: 25%;
	height: 40px;
	font-size: 24pt;
}

.study table.header td {
	width: 25%;
	height: 30px;
	background-color: #fdd;
	border: 1px solid #fff;
}

.pink-box {
	background-color: #fdd;
	padding: 10px;
}

.study b {
	font-size: 20pt;
}

.timer {
	background: #FF007F;
	width: 30px;
	height: 50px;
	position: absolute;
	right: 20px;
	top: 20px;
}