<!doctype html>
<html ng-app>
<head>
<meta charset="utf-8">
<title>데이터 보기</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
	var hostname = location.search.substr(1);

	function DataController($scope) {
		$.ajax({
			url: "http://edu.lyomi.net/data/" + hostname,
			dataType: "json"
		}).done(function(data) {
			if (data) {
				console.log(data.length + " rows received");
				data = data.filter(function(row) {
					return row.poll && row.answers;
				});
				data.forEach(function(row) {
					if (row.answers && row.timing) {
						if (row.timing[0]) {
							row.answers[0][4] = Math.floor((row.timing[0] - row.quiz)/100)/10;
						}

						for (var i = 1; i < 20; i++) {
							if (row.timing[i]) {
								row.answers[i][4] = Math.floor((row.timing[i] - row.timing[i-1])/100)/10;
							}
						}

						row.quized = row.timing[row.timing.length - 1];
					}
					row.started = date("m-d H:i:s", row.started);
					row.studies = date("m-d H:i:s", row.studies);
					row.studied = date("m-d H:i:s", row.studied);
					row.quiz = date("m-d H:i:s", row.quiz);
					row.quized = date("m-d H:i:s", row.quized);
					row.finished = date("m-d H:i:s", row.finished);
					if (!row.poll) row.poll = new Array(40);
					if (!row.answers) row.answers = new Array(20);
					if (!row.survey) row.survey = new Array(23);
				});

			}
			$scope.$apply(function() { $scope.data = data; });
		}).fail(function() {
			$scope.$apply(function() { $scope.data = null; });
		});
	}

	$(function() {
		$("select").bind("change", function() {
			location.href = "?" + $(this).find(":selected").text();
		});

		$("option").each(function () {
			if ($(this).text() === hostname) {
				$(this).attr("selected", "selected");
			}
		});
	});
</script>
<script src="vendor/util/date.js"></script>
<style type="text/css">
html, body {
	font-size: 10pt;
}

table {
	border-collapse: collapse;
}

table th, td {
	border: 1px solid #999;
	padding: 2px;
	min-width: 20px;
	text-align: center;
}
</style>
</head>
<body ng-controller="DataController">
<div>
	<select>
		<option>SELECT VERSION</option>
		<option>----------------------</option>
		<option>1.mlearningm.com</option>
		<option>2.mlearningm.com</option>
		<option>3.mlearningm.com</option>
		<option>4.mlearningm.com</option>
		<option>5.mlearningm.com</option>
		<option>6.mlearningm.com</option>
		<option>7.mlearningm.com</option>
		<option>8.mlearningm.com</option>
		<option>1.elearningm.com</option>
		<option>2.elearningm.com</option>
		<option>3.elearningm.com</option>
		<option>4.elearningm.com</option>
		<option>5.elearningm.com</option>
		<option>6.elearningm.com</option>
		<option>7.elearningm.com</option>
		<option>8.elearningm.com</option>
	</select>
	{{data ? data.length : "no"}} rows received
</div>
<table>
	<thead>
		<tr>
			<th>시작<br>시각</th>
			<th>학교</th>
			<th>반</th>
			<th>번호</th>
			<th>성별</th>
			<th>언어</th>
			<th colspan="40">설문1</th>
			<th>학습<br>시작</th>
			<th>학습<br>종료</th>
			<th>퀴즈<br>시작</th>
			<th colspan="20">퀴즈</th>
			<th>퀴즈<br>종료</th>
			<th>점수</th>
			<th>점수1</th>
			<th>점수2</th>
			<th>그룹</th>
			<th colspan="23">설문2</th>
			<th>종료<br>시각</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="data !== null && data.length > 0" ng-repeat-start="row in data">
			<td rowspan="5">{{row.started}}</td>
			<td rowspan="5">{{row.school}}</td>
			<td rowspan="5">{{row.classroom}}</td>
			<td rowspan="5">{{row.id}}</td>
			<td rowspan="5">{{row.gender}}</td>
			<td rowspan="5">{{row.language === "other" ? row.other : row.language}}</td>
			<td ng-repeat="answer in row.poll track by $index" rowspan="5">{{answer}}</td>
			<td rowspan="5">{{row.studies}}</td>
			<td rowspan="5">{{row.studied}}</td>
			<td rowspan="5">{{row.quiz}}</td>
			<td ng-repeat="answer in row.answers track by $index">{{answer[0] ? 'O' : 'X'}}</td>
			<td rowspan="5">{{row.quized}}</td>
			<td rowspan="5">{{row.score}}</td>
			<td rowspan="5">{{row.score1}}</td>
			<td rowspan="5">{{row.score2}}</td>
			<td rowspan="5">{{row.groupscore}}</td>
			<td ng-repeat="answer in row.survey track by $index" rowspan="5">{{answer}}</td>
			<td rowspan="5">{{row.finished}}</td>
		</tr>
		<tr>
			<td ng-repeat="answer in row.answers track by $index">{{answer[1] ? 'O' : 'X'}}</td>
		</tr>
		<tr>
			<td ng-repeat="answer in row.answers track by $index">{{answer[2] ? 'O' : 'X'}}</td>
		</tr>
		<tr>
			<td ng-repeat="answer in row.answers track by $index">{{answer[3] ? 'O' : 'X'}}</td>
		</tr>
		<tr ng-repeat-end>
			<td ng-repeat="answer in row.answers track by $index">{{answer[4]}}</td>
		</tr>
		<tr ng-if="data === undefined">
			<td colspan="100" style="text-align:center;">loading data ...</td>
		</tr>
		<tr ng-if="data === null || data.length === 0">
			<td colspan="100" style="text-align:center;">no data found</td>
		</tr>
	</tbody>
</table>
</body>
</html>