
<div id="nav">
	<button class="next" ng-click="vm.next()">다음</button>
</div>

<div id="slide" class="large-text" class="form">
	<form>
		<p>
			먼저 자신에 대해서 적어봅시다.
		</p>
		<p>
			1.
			<input id="form-school" type="text" ng-model="vm.school" size="6"><label for="form-school">중학교</label>&nbsp;&nbsp;&nbsp;
			<input id="form-year" type="text" ng-model="vm.year" size="2"><label for="form-year">학년</label>&nbsp;&nbsp;&nbsp;
			<input id="form-classroom" type="text" ng-model="vm.classroom" size="2"><label for="form-classroom">반</label>&nbsp;&nbsp;&nbsp;
			<input id="form-id" type="text" ng-model="vm.id" size="2"><label for="form-id">번</label>
		</p>
		<p>
			2. 성별&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input id="form-male" type="radio" ng-model="vm.gender" name="gender" value="male"> <label for="form-male">남</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input id="form-female" type="radio" ng-model="vm.gender" name="gender" value="female"> <label for="form-female">여</label>
		</p>
		<p>
			3. 집에서 주로 사용하는 언어는 무엇입니까?<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input id="form-korean" type="radio" ng-model="vm.language" name="language" value="korean"> <label for="form-korean">한국어</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input id="form-english" type="radio" ng-model="vm.language" name="language" value="english"> <label for="form-english">영어</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input id="form-other" type="radio" ng-model="vm.language" name="language" value="other"> <label for="form-other">기타</label>
			(<input id="form-language" type="text" ng-model="vm.other" size="5">)


		</p>
	</form>

</div>
